<!DOCTYPE html>
<html>
<head>
    <title>Beets WebUI</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tarkus.css') }}"/>
    <script src="{{ url_for('static', filename='js/amplitude.min.js') }}"></script>
</head>
<body>
<div class="example-container">
    <div class="left">
        <div id="white-player">
            <div class="white-player-top">
                <div>
                    &nbsp;
                </div>

                <div class="center">
                    <span class="now-playing">Now Playing</span>
                </div>

                <div>
                    <img src="{{ url_for('static', filename='images/show-playlist.svg') }}"
                         class="show-playlist"/>
                </div>
            </div>

            <div id="white-player-center">
                <img data-amplitude-song-info="cover_art_url" class="main-album-art"/>

                <div class="song-meta-data">
                    <span data-amplitude-song-info="name" class="song-name"></span>
                    <span data-amplitude-song-info="artist" class="song-artist"></span>
                </div>

                <div class="time-progress">
                    <div id="progress-container">
                        <input type="range" class="amplitude-song-slider"/>
                        <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                        <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
                    </div>

                    <div class="time-container">
                <span class="current-time">
                  <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
                </span>
                        <span class="duration">
                    <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                  </span>
                    </div>
                </div>
            </div>

            <div id="white-player-controls">
                <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
                <div class="amplitude-prev" id="previous"></div>
                <div class="amplitude-play-pause" id="play-pause"></div>
                <div class="amplitude-next" id="next"></div>
                <div class="amplitude-repeat" id="repeat"></div>
            </div>

            <div id="white-player-playlist-container">
                <div class="white-player-playlist-top">
                    <div>

                    </div>
                    <div>
                        <span class="queue">Queue</span>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='images/close.svg') }}"
                             class="close-playlist"/>
                    </div>
                </div>

                <div class="white-player-up-next">
                    Up Next
                </div>

                <div class="white-player-playlist">
                </div>

                <div class="white-player-playlist-controls">
                    <img data-amplitude-song-info="cover_art_url" class="playlist-album-art"/>

                    <div class="playlist-controls">
                        <div class="playlist-meta-data">
                            <span data-amplitude-song-info="name" class="song-name"></span>
                            <span data-amplitude-song-info="artist" class="song-artist"></span>
                        </div>

                        <div class="playlist-control-wrapper">
                            <div class="amplitude-prev" id="playlist-previous"></div>
                            <div class="amplitude-play-pause" id="playlist-play-pause"></div>
                            <div class="amplitude-next" id="playlist-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div id="query-container">
            <div>
                <input type="search" id="query" placeholder="Query">
                <button id="queryBtn">Search</button>
            </div>
            <div id="songs-node-container"></div>
        </div>
    </div>
</div>
<script>


    const clickTouch = (('ontouchstart' in window) || (window.DocumentTouch && document instanceof DocumentTouch)) ? 'touchstart' : 'click';

    Amplitude.init({
        'songs': []
    });

    /**
     * Shows the playlist
     */
    document.getElementsByClassName('show-playlist')[0].addEventListener(clickTouch, function () {
        document.getElementById('white-player-playlist-container').classList.remove('slide-out-top');
        document.getElementById('white-player-playlist-container').classList.add('slide-in-top');
        document.getElementById('white-player-playlist-container').style.display = 'block';
    }, false);

    /**
     * Hide the playlist
     */
    document.getElementsByClassName('close-playlist')[0].addEventListener(clickTouch, function () {
        document.getElementById('white-player-playlist-container').classList.remove('slide-in-top');
        document.getElementById('white-player-playlist-container').classList.add('slide-out-top');
        document.getElementById('white-player-playlist-container').style.display = 'none';
    }, false);

    let queryInput = document.getElementById("query");

    /**
     * Execute Beets Query
     */
    document.getElementById('queryBtn').addEventListener(clickTouch, function () {
        (new QueryListBuilder()).executeBeetsQuery(queryInput.value, true);
    }, false);


    /**
     * Execute query when pressing "Enter" on the keyboard
     */
    queryInput.addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            // Cancel the default action, if needed
            event.preventDefault();
            (new QueryListBuilder()).executeBeetsQuery(queryInput.value, true);
        }
    }, false);

    let Song = class {
        constructor(item) {
            this.id = item.id;
            this.track = item.track;
            this.title = item.title;
            this.length = item.length;
            this.original_year = item.original_year;
            this.name = item.title;
            this.artist = item.artist;
            this.mb_artistid = item.mb_artistid;
            this.mb_albumid = item.mb_albumid;
            this.mb_albumartistid = item.mb_albumartistid;
            this.albumartist = item.albumartist;
            this.year = item.year;
            this.album = item.album;
            this.album_id = item.album_id;
            this.url = '/item/' + item.id + '/file';
            this.cover_art_url = '/album/' + item.album_id + '/art';
        }
    }

    /**
     * Creates DOM elements for beets query results and adds click events to add songs to playlist.
     *
     * @type {QueryListBuilder}
     */
    let QueryListBuilder = class {

        constructor() {
            this.songsToAdd = [];
            this.songsNodeContainer = document.getElementById('songs-node-container');
            this.songsNodeContainer.innerHTML = '';
            this.next = document.getElementById('next');
        }

        /**
         * Create DOM elements for the Beets query results
         *
         * @param {Song} song
         * @param {Number} index
         */
        buildSongListGroupedByAlbum = function (song, index) {
            let self = this;
            let albumChanged = this.albumId !== song.album_id;

            if (true === albumChanged) {
                self.addAlbumToQueryContainer(song);
            }

            if (null !== this.albumSongsContainer) {
                self.addSongToAlbumContainer(song, index);
            }

            this.albumId = song.album_id;
        }

        /**
         * Add div container for each album to group songs by album
         *
         * @param {Song} song
         */
        addAlbumToQueryContainer = function (song) {
            let self = this;

            let albumElem = document.createElement('div');
            albumElem.setAttribute('class', 'album-to-add');
            albumElem.setAttribute('album-to-add', song.album_id);

            let albumArtContainer = document.createElement('div');
            albumArtContainer.setAttribute('class', 'album-art');

            let albumMetaData = document.createElement('div');

            let albumArtArtistElem = document.createElement('div');
            albumArtArtistElem.setAttribute('class', 'album-artist');
            albumArtArtistElem.innerHTML = song.albumartist;

            let albumArtAlbumElem = document.createElement('div');
            albumArtAlbumElem.setAttribute('class', 'album-album');
            albumArtAlbumElem.innerHTML = song.album;

            let albumArtYearElem = document.createElement('div');
            albumArtYearElem.setAttribute('class', 'album-year');
            albumArtYearElem.innerHTML = song.original_year;

            let imgElem = document.createElement('img');
            imgElem.setAttribute('src', song.cover_art_url);
            imgElem.setAttribute('album-to-add', song.album_id);

            self.addAlbumToPlaylistEvent(imgElem);

            albumMetaData.appendChild(albumArtArtistElem);
            albumMetaData.appendChild(albumArtAlbumElem);
            albumMetaData.appendChild(albumArtYearElem);

            albumArtContainer.appendChild(imgElem);
            albumArtContainer.appendChild(albumMetaData);

            this.albumSongsContainer = document.createElement('div');
            this.albumSongsContainer.setAttribute('class', 'album-songs');

            albumElem.appendChild(albumArtContainer);
            albumElem.appendChild(this.albumSongsContainer);
            this.songsNodeContainer.appendChild(albumElem);
        }


        /**
         * Add song to album container
         *
         * @param {Song} song
         * @param {Number} index
         */
        addSongToAlbumContainer = function (song, index) {
            let self = this;

            let addSongToPlaylistElem = document.createElement('a');
            addSongToPlaylistElem.setAttribute('class', 'add-to-playlist-button');
            addSongToPlaylistElem.setAttribute('song-to-add', index.toString());

            let songTrack = document.createElement('span');
            songTrack.setAttribute('class', 'song-track');
            songTrack.innerHTML = song.track + '.';

            let songName = document.createElement('span');
            songName.setAttribute('class', 'song-name');
            songName.innerHTML = song.name;

            let songLength = document.createElement('span');
            songLength.setAttribute('class', 'song-length');
            songLength.innerHTML = self.getSongLengthFormatted(song.length);

            addSongToPlaylistElem.appendChild(songTrack);
            addSongToPlaylistElem.appendChild(songName);
            addSongToPlaylistElem.appendChild(songLength);

            self.addSongToPlaylistEvent(addSongToPlaylistElem);

            let songElem = document.createElement('div');
            songElem.setAttribute('class', 'song-to-add');

            songElem.appendChild(addSongToPlaylistElem);

            this.albumSongsContainer.appendChild(songElem);
        }

        /**
         * Get formatted track length in mm:ss
         *
         * @param {Number} songLength
         *
         * @returns {string}
         */
        getSongLengthFormatted = function (songLength) {
            return new Date(1000 * songLength).toISOString().substr(14, 5);
        }

        /**
         * Click event to add song to the playlist
         *
         * @param {Element} element
         */
        addSongToPlaylistEvent = function (element) {
            let self = this;

            element.addEventListener(clickTouch, function () {
                let songToAddIndex = this.getAttribute('song-to-add');

                self.addSongToPlaylist(songToAddIndex);
            }, false);
        }

        /**
         * Click event to add album to the playlist
         *
         * @param {Element} element
         */
        addAlbumToPlaylistEvent = function (element) {
            let self = this;

            element.addEventListener(clickTouch, function () {
                let albumId = element.getAttribute('album-to-add');
                let query = 'album_id:' + albumId;
                self.executeBeetsQuery(query);
            }, false);
        }

        /**
         * Add song by index to playlist
         *
         * @param {Number} songToAddIndex
         */
        addSongToPlaylist(songToAddIndex) {
            let self = this;

            /*
             Adds the song to Amplitude, appends the song to the display,
             then rebinds all of the AmplitudeJS elements.
            */
            let newIndex = Amplitude.addSong(self.songsToAdd[songToAddIndex]);

            self.appendToSongDisplay(self.songsToAdd[songToAddIndex], newIndex);
            Amplitude.bindNewElements();

            const isFirstSong = Amplitude.getSongs().length === 1;
            if (isFirstSong) {
                self.next.click();
            }
        }

        /**
         * Execute async beets request
         *
         * @param {String} query
         * @param {Boolean} buildHtmlDom
         */
        executeBeetsQuery = function (query, buildHtmlDom = false) {
            let xhttp = new XMLHttpRequest();
            let self = this;
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    let response = JSON.parse(this.responseText)
                    let items = response.items;
                    let songs = self.songsToAdd;

                    for (let i = 0; i < items.length; i++) {
                        let song = new Song(items[i]);

                        // add only songs that dont exist yet in Amplitude
                        let index = songs.findIndex(x => x.id === song.id);
                        if (index < 0) {
                            self.songsToAdd.push(song);
                            index = songs.length;
                        }

                        if (true === buildHtmlDom) {
                            self.buildSongListGroupedByAlbum(song, index);
                        } else {
                            self.addSongToPlaylist(index);
                        }
                    }
                }
            };
            xhttp.open('GET', '/item/query/' + query, true);
            xhttp.send();
        }

        /**
         * Appends the song to the display
         *
         * @param {Song} song
         * @param {Number} index
         */
        appendToSongDisplay = function (song, index) {

            // Grabs the playlist element we will be appending to
            let playlistElement = document.querySelector('.white-player-playlist');

            // Creates the playlist song element
            let playlistSong = document.createElement('div');
            playlistSong.setAttribute('class', 'white-player-playlist-song amplitude-song-container amplitude-play-pause');
            playlistSong.setAttribute('data-amplitude-song-index', index.toString());

            // Creates the playlist song image element
            let playlistSongImg = document.createElement('img');
            playlistSongImg.setAttribute('src', song.cover_art_url);

            // Creates the playlist song meta element
            let playlistSongMeta = document.createElement('div');
            playlistSongMeta.setAttribute('class', 'playlist-song-meta');

            // Creates the playlist song name element
            let playlistSongName = document.createElement('span');
            playlistSongName.setAttribute('class', 'playlist-song-name');
            playlistSongName.innerHTML = song.name;

            // Creates the playlist song artist album element
            let playlistSongArtistAlbum = document.createElement('span');
            playlistSongArtistAlbum.setAttribute('class', 'playlist-song-artist');
            playlistSongArtistAlbum.innerHTML = song.artist + ' &bull; ' + song.album;

            // Appends the name and artist album to the playlist song meta
            playlistSongMeta.appendChild(playlistSongName);
            playlistSongMeta.appendChild(playlistSongArtistAlbum);

            // Appends the song image and meta to the song element
            playlistSong.appendChild(playlistSongImg);
            playlistSong.appendChild(playlistSongMeta);

            // Appends the song element to the playlist
            playlistElement.appendChild(playlistSong);
        }
    }
</script>
</body>
</html>